.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

$smallWidth: 380;
$wideWidth: 1000;

@mixin wrapper {
  width: rd($smallWidth, 414);
  margin: 0 auto;
  max-width: 960px;
  
  @include breakpoint(min-width 1200px) {
    width: rd($wideWidth, 1440);
  }
}